html,
body,
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-size: 62.5%;
}

.allbox{
    background-image: url(imgs/tf2\ wall\ of\ achievments.jpg);
}


.header{
    color: white;
    height: 45vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(212, 57, 57);

}

.header-title{
    font-size:8rem;
    text-align:center;
    
}


.parent{
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: center;
}

.controller_object-1,.controller_object-2,.controller_object-3,.controller_object-4,.controller_object-5,.controller_object-6,.controller_object-7,.controller_object-8,.controller_object-9{
    width: 25.5%;
    border: 30px solid rgb(0, 0, 0);
    text-align: center;
    height: 520px;
    align-items: center;
    margin: 50px;
    background-color: white;
    box-shadow: gray 10px 10px;
    border-radius: 65px;
    font-size: 40px;
}



.objtexttitle{
    font-size: 50px;
    border: solid 5px red;
    border-bottom: 0px;
    display: flex;
    flex-direction: column;
    background-color: blue;
}

.objtextdesc{
   font-size: 20px;
   padding-top: 5px;
   text-align: center;
   border: solid 5px red;
   border-top: 0px;
   border-bottom: 0px;
   flex-direction: column;
   padding-bottom: 2.5px;
   background-color: blue  ;
}

.objtextquote{
    border: solid 5px red;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 3px 0px 3px 0px;
    text-align: center;
    font-size: 17.5px;
    flex-direction: column;
    margin-bottom: 0 auto;
    background-color: blue  ;
}

.image1  {
    align-items: center;
    height: 275px;
    flex-direction: column;
    margin: 5px;
}


.controller_object-1{
    background-image: url(imgs/Demoman\ tf2\ background.png);
    background-position: center;
    background-size: 500px;
}

.controller_object-2{
    background-image: url(imgs/Heavy\ tf2\ background.png);
    background-position: center;
}

.controller_object-3{
    background-image: url(imgs/Spy\ tf2\ background.png);
    background-position: center;
    background-repeat: repeat;
}

.controller_object-4{
    background-image: url(imgs/Engineer\ tf2\ background.png);
    background-position: center;
    background-size: 500px;
}

.controller_object-5{
    background-image: url(imgs/Pyro\ tf2\ background.png);
    background-position: center;
    background-size: 500px;
}
.controller_object-6 {
    background-image: url(imgs/Medic\ tf2\ background.png);
    background-position: center;
    background-size: 500px;
}

.controller_object-7{
    background-image: url(imgs/Scout\ tf2\ background.png);
    background-position: center;
    background-size: 500px;
}

.controller_object-8{
    background-image: url(imgs/Soldier\ tf2\ background.png);
    background-position: center;
    background-size: 500px;
}

.controller_object-9{
    background-image: url(imgs/Sniper\ tf2\ background.png);
    background-position: center;
    background-size: 500px;
}