html,
body,
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-size: 62.5%;
}



.header{
    background-color: salmon;
    color: white;
    height: 45vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.header-title{
    font-size:8rem;
    text-align:center;
    
}


.parent{
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
}

.controller{
    width: 27%;
    border: 25px solid rgb(0, 0, 0);
    text-align: center;
    height: 450px;
    align-items: center;
    margin: 50px;
    padding-top: 32px;
    background-color: white;
    box-shadow: gray 10px 10px;
    border-radius: 65px;
    font-size: 40px;
}

.objecttext{
    padding-top: 70%;
}